{% extends "layout.html" %}

{% block title %}
About
{% endblock %}
{% block content %}

<section class="userpage">
    <h1>UserPost Profile page</h1>
    <div class="userdata">
        <div class="userpost">
            <h3>List of User blogs</h3>
            <div class="bloglist">

                {% for post in alluserpost %}
                <ul class="eachblog">
                    <li>
                        {{ forloop.counter }}
                        <a href="{% url 'posts:post_page' slug=post.slug %}">
                            {{ post.title }}
                        </a>
                    </li>
                    <li>
                        {{ post.date }}
                    </li>
                </ul>
                {% endfor %}
            </div>
        </div>
    </div>

</section>

{% endblock %}